# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Ignore raw and processed data files but keep the directories

# Output files
figures/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE files
.vscode/
.idea/
*.swp

# Keep the data directories
!data/raw/
!data/processed/


*.csv